* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
 
  
}

.container {
  width: 80%;
  margin-left: 50px;
}

/* Header */
h1 {
  margin: 20px 0;
  font-size: 2.5em;
  color: #333;
  padding: 30px;
}


/* Buttons */
.buttons-container {
  display: flex;
  gap: 15px;
}

.accordion-item {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #ffd104;
}

/* Text Card */
.text-card {
  padding: 20px;
  margin-top: 20px;
  margin-left: 70px;
  max-width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}